%p
  Wolas #{@resource.email}!
%p Puedes cambiar tu contraseña de Mclolo haciendo click en el siguiente enlace:
%p= link_to 'Cambiar mi contraseña', edit_password_url(@resource, reset_password_token: @token)
%p Si no has sido tú el que ha pedido el cambio de contraseña, ignora este mensaje.
%p Tu contraseña no será cambiada hasta que no accedas al anterior enlace.
